# Docker Environment Configuration

NODE_ENV=production

# Neon Database URLs
NEON_DATABASE_URL_DEV='my-awesome-database-url-for-dev'
NEON_DATABASE_URL_STAGING='my-awesome-database-url-for-dev'
NEON_DATABASE_URL_PROD='my-awesome-database-url-for-dev'

# Backend Port
BACKEND_PORT=3000
