# Environment Configuration
environment = "prod"
location    = "francecentral"

# Docker Configuration
image_tag          = "abc1234"  # Will be overridden by CI/CD with commit SHA
dockerhub_username = "your-dockerhub-username"
dockerhub_token    = "your-dockerhub-access-token"
dockerhub_repo     = "your-dockerhub-username/remindy-backend"

# Container Configuration
container_port = 3000
min_replicas   = 1  # Always at least 1 replica for prod
max_replicas   = 3
cpu            = 0.5
memory         = "1Gi"

# Application Configuration
node_env = "production"

# Database Configuration (Neon)
neon_database_url_dev     = "postgresql://neondb_owner:npg_XXX@ep-xxx.eu-central-1.aws.neon.tech/Dev_db_Remindy?sslmode=require&channel_binding=require"
neon_database_url_staging = "postgresql://neondb_owner:npg_XXX@ep-xxx.eu-central-1.aws.neon.tech/staging_db_remindy?sslmode=require&channel_binding=require"
neon_database_url_prod    = "postgresql://neondb_owner:npg_XXX@ep-xxx.eu-central-1.aws.neon.tech/Prod_db_remindy?sslmode=require&channel_binding=require"